<header class="navbar navbar-fixed-top navbar-expand-sm navbar-inverse">
  <div class="container">
    <span style="width:70px;">
      <%= image_tag("RefuMe-Logo.png", size: "60x60", class: "rounded float-left") %>
    </span>
    <nav>
      <%= link_to "RefuMe", root_path, id: "logo" %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, {:style => 'font-size:20px;'} %></li>
        <% if logged_in? %>
          <li><%= link_to "Info", info_path, {:style => 'font-size:20px;'} %></li>
          <li><%= link_to "Discussion Forum", "/posts", {:style => 'font-size:20px;'}%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:20px">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, {:style => 'font-size:15px;'} %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), {:style => 'font-size:15px;'} %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, {:style => 'font-size:20px;'}%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br>
